body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,button {
	margin:0;
	padding:0;
	outline: 0;
}
body,html{
	width: 100%;
	height: 100%;
}
table {
	border-collapse:collapse;
	border-spacing:0
}
button,input,textarea,fieldset {
	padding:0;
	*overflow:visible
}
body {
	font:12px/1.5 Microsoft Yahei,\5B8B\4F53,Tahoma,Helvetica,Arial,sans-serif;
	background-color:#fff;
}
input,textarea {
	outline:0;
	resize:none
}
fieldset,img {
	border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal
}
ol,ul,li {
	list-style:none
}
caption,th {
	text-align:left
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%
}
q:beforce,q:after {
	content:''
}
abbr,acronym {
	border:0
}
legend {
	margin-left:0
}
*+html legend {
	margin-left:-7px;
	margin-top:-7px;
	padding-bottom:10px
}
*html legend {
	margin-left:-7px;
	margin-top:-7px;
	padding-bottom:10px
}
a {
	text-decoration:none;
	outline:0
}
a:hover {
	text-decoration:none
}
.f12 {
	font-size:12px
}
.f13 {
	font-size:13px
}
.f14 {
	font-size:14px
}
.f16 {
	font-size:16px
}
.f18 {
	font-size:18px
}
.f20 {
	font-size:20px
}
.fYaHei {
	font-family:Microsoft Yahei
}
.fHei {
	font-family:'黑体'
}
.fb {
	font-weight:bold
}
.fn {
	font-weight:normal;
	font-style:normal
}
.unl {
	text-decoration:underline
}
.del {
	text-decoration:line-through
}
.tl {
	text-align:left
}
.tc {
	text-align:center
}
.tr {
	text-align:right
}
.bc {
	margin-left:auto;
	margin-right:auto
}
.fl {
	float:left;
	display:inline
}
.fr {
	float:right;
	display:inline
}
.cb {
	clear:both
}
.cl {
	clear:left
}
.cr {
	clear:right
}
.clearfix:before,.clearfix:after {
	content:"";
	display:table;
}
.clearfix:after {
	clear:both;
}
.clearfix {
	*zoom:1;
}
.vm {
	vertical-align:middle
}
.pr {
	position:relative
}
.pa {
	position:absolute
}
.hidden {
	visibility:hidden
}
.none {
	display:none
}
.nb {
	border:0
}
.nbt {
	border-top:0
}
.nbb {
	border-bottom:0
}
.nbr {
	border-right:0
}
.nbl {
	border-left:0
}
.w10 {
	width:10px
}
.w20 {
	width:20px
}
.w30 {
	width:30px
}
.w40 {
	width:40px
}
.w50 {
	width:50px
}
.w60 {
	width:60px
}
.w70 {
	width:70px
}
.w80 {
	width:80px
}
.w90 {
	width:90px
}
.w100 {
	width:100px
}
.w180 {
	width:180px
}
.w200 {
	width:200px
}
.w250 {
	width:250px
}
.w300 {
	width:300px
}
.w400 {
	width:400px
}
.w500 {
	width:500px
}
.w600 {
	width:600px
}
.w700 {
	width:700px
}
.w980 {
	width:980px
}
.w1000 {
	width:1000px
}
.w {
	width:100%
}
.mt5 {
	margin-top:5px
}
.mt10 {
	margin-top:10px
}
.mt15 {
	margin-top:15px
}
.mt20 {
	margin-top:20px
}
.mt30 {
	margin-top:30px
}
.mb5 {
	margin-top:5px
}
.mb10 {
	margin-bottom:10px
}
.mb15 {
	margin-bottom:15px
}
.mb20 {
	margin-bottom:20px
}
.mb30 {
	margin-bottom:30px
}
.mr5 {
	margin-right:5px
}
.mr10 {
	margin-right:10px
}
.mr15 {
	margin-right:15px
}
.mr20 {
	margin-right:20px
}
.mr30 {
	margin-right:30px
}
.ml5 {
	margin-left:5px
}
.ml10 {
	margin-left:10px
}
.ml15 {
	margin-left:15px
}
.ml20 {
	margin-left:20px
}
.ml30 {
	margin-left:30px
}
.padd5 {
	padding:5px
}
.padd10 {
	padding:10px
}
.pt1 {
	padding-top:1px
}
.pt5 {
	padding-top:5px
}
.pt10 {
	padding-top:10px
}
.pt15 {
	padding-top:15px
}
.pt20 {
	padding-top:20px
}
.pb5 {
	padding-bottom:5px
}
.pb10 {
	padding-bottom:10px
}
.pb15 {
	padding-bottom:15px
}
.pb20 {
	padding-bottom:20px
}
.pl5 {
	padding-left:5px
}
.pl10 {
	padding-left:10px
}
.pl15 {
	padding-left:15px
}
.pl20 {
	padding-left:20px
}
.pr5 {
	padding-right:5px
}
.pr10 {
	padding-right:10px
}
.pr15 {
	padding-right:15px
}
.pr20 {
	padding-right:20px
}
.pr35 {
	padding-right:35px
}
.dib {
	display:inline-block
}
.db {
	display:block
}
.wordbreak {
	white-space:nowrap;
	word-break:keep-all;
	text-overflow:ellipsis;
	overflow:hidden
}
.oh {
	overflow:hidden
}
.dis-flex{
	display: flex;
}
.flex{
	flex: 1;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
}